
/*nv anh add */
.short_des{
	color: #636363;
    font: inherit;
    font-size: 14px;
}
.item-blog-ttms {
    display: inline-table;
    width: 100%;
}
.item-blog-ttms h3 {
    text-transform: lowercase;
    font-size: 20px !important;
    font-weight: bold;
    color: #212121;
    margin-bottom: -20px;
}
.item-blog-ttms p {
    padding: 12px 0;
    overflow: unset!important;
	font-size: 14px;
}
.item-blog-ttms .img-col2 {
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 100% !important;

}
img{
	width: 100%;
	height: auto;
}
